/* Форма */
/* form {
  margin-bottom: 10px;
  border: 2px solid #000;
  overflow: hidden;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  max-width: 520px;
} */

/* form input {
  width: 100%;
  padding: 10px;
  margin: 10px;
  line-height: 1;
  font-size: 18px;
  border: 0;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
  border-radius: 10px;
  background: #ffffff;
  border: none;
} */

/* form input:focus {
  outline: 0;
  background: #ffffff;
} */

/* form input:last-of-type {
  margin-bottom: 20px;
} */
/* form button {
  width: 100%;
  border: 0;
  font-size: 16px;
  transition: opacity 0.2s ease-in-out;
} */

/* form button:hover {
  opacity: 0.9;
} */

/* button,
input[type=submit] {
  text-transform: uppercase;
  padding: 10px 15px;
  border: none;
  background: rgb(97, 29, 255);
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  max-width: 50%;
  margin: 0 auto;
  border-radius: 10px;
} */
/* 
::placeholder {
  color: rgb(255, 255, 255);
} */

/* .icon {
  font-size: 28px;
} */

/* .add {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 22px;
} */

/* .select-style {
  color: rgb(155, 155, 155);
} */

.select-style option {
  color: rgb(255, 153, 0);
}

.select-photo {
  background-color: #1a202c;
  border-radius: 6px;
}

.image-list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 34px;
  flex-wrap: wrap;
  margin-bottom: 18px;
}

.image-item {
  /* mix-blend-mode: multiply; */
}

.img-listCategory {
  width: 80px;
  height: 80px;
  object-fit: cover;

  border-radius: 10px;
  /* margin: 10px; */
  border: 1px solid #000;
  cursor: grab;

}

.img-listCategory:active {
  cursor: grabbing;
}

.drop-text {
  text-align: center;
  text-transform: uppercase;
  color: rgb(255, 180, 41);
}