

.description {
  max-height: 3em; /* Максимальна висота: еквівалентно трьом рядкам тексту */
  overflow: hidden; /* Приховує зайвий текст, який не вміщується */
  text-overflow: ellipsis; /* Додає мініатюрну "..." в кінці обрізаного тексту */
  white-space: nowrap; /* Перемикає текст в один рядок, не переносячи його */
}

.heading-cards {
  text-align: center;
  display: block;
  padding: 20px 0 20px 0;
  color: #fff;
  font-size: 26px;
  color: rgb(255, 180, 41);
  /* color: #2d6271; */
  text-transform: uppercase;
}

.heading--space {
  margin-bottom: 10px;
}

.link-back {
  text-decoration: none;
  color: #fff;
  position: fixed;
  left: 50px;
  top: 28px;
  transition: color 0.2s ease-in-out;
}

.link-back:hover {
  color: rgb(255, 180, 41);
}

.link-back  span {
  display: inline-flex;
  font-size: 24px;
  color: #cbcbcb;
  transition: color 0.2s ease-in-out;
}

.link-back  span:hover {
  color: rgb(255, 180, 41);
}

.heading-wrap {
  display: flex;
  align-items: center;
}

.arrow-hover:hover {
  color: rgb(255, 180, 41);
  cursor: pointer;
}

.link-menu-back {
  position: fixed;
  left: 1400px;
  top: 50px;
}

.no-products {
  font-size: 36px;
  position: fixed;
  top: 440px;
  left: 700px;
}

.no-products-title {
  /* display: flex;
  align-items: center;
  gap: 20px; */
  font-size: 80px;
  color: #cbcbcbcb;
  transition: color 0.2s ease-in-out;
}

.no-products-title:hover {
  color: rgb(255, 180, 41);
}

.grid-test {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 18px;
}

@media (max-width: 1100px) {
  .grid-test {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 900px) {
  .grid-test {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .grid-test {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 400px) {
 .link-cards {
   flex-direction: column;
 }
}

.button-card {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-hover {
  cursor: pointer;
  transition: scale 0.2s ease-in-out;
}

.card-hover:hover {
  scale: 1.03;
}

.date-badge {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info-icon {
  cursor: pointer;
  font-size: 28px;
  color: rgb(114, 200, 88);
  color: #cbd3dd;
  transition: color 0.2s ease-in-out;
}

.info-icon:hover {
  color: rgb(255, 180, 41);
}

.category-wrap,
.price-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* .info-icon--delete {
  color: rgb(255, 109, 109);
  cursor: pointer;
} */

/* .info-icon--edit {
  color: rgb(88, 200, 196);
} */

/* .info-icon--info {
  color: rgb(114, 200, 88);
} */