.description {
  max-height: 3em; /* Максимальна висота: еквівалентно трьом рядкам тексту */
  overflow: hidden; /* Приховує зайвий текст, який не вміщується */
  text-overflow: ellipsis; /* Додає мініатюрну "..." в кінці обрізаного тексту */
  white-space: nowrap; Перемикає текст в один рядок, не переносячи його
}
