/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap"); */

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  /* background-color: #1a1a1a; */
  
}

/* .App {
  width: 100vw;
  min-height: 100vh;
  font-family: "Montserrat";
} */





.heading {
  text-align: center;
  display: block;
  padding: 20px 0 20px 0;
  color: #fff;
  font-size: 26px;
  color: rgb(255, 180, 41);
  /* color: #2d6271; */
  text-transform: uppercase;
}

.link-wrap-main {
  /* display: flex; */
  /* justify-content: center; */
  position: relative;
  width: 100%;
  display: block;
  margin: 0 auto;
  text-align: center;
}

.link-wrapper-form {
}

.link-wrapper-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-top: 50px;

  position: absolute;
  top: 0%;
  left: 70%;
  /* transform: translate(-50%, -50%); */
}

@media (max-width: 1235px) {
  .link-wrapper-content {
    left: 75%;
  }
}

@media (max-width: 1050px) {
  .link-wrapper-content {
    left: 80%;
  }
}

@media (max-width: 872px) {
  .link-wrapper-content {
    display: none;
  }
}

.link-wrapper:hover,
.link-wrapper-link2:hover,
.link-wrapper-link3:hover {
  scale: 1.1;
}

.link-svg {
  cursor: pointer;
  -webkit-text-decoration: none;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrap-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
}

.shadow {
  align-items: center;
  background: rgba(225, 159, 23, .5);
  border-radius: 49% 51% 52% 48%/58% 47% 53% 42%;
  border-radius: 46% 54% 54% 46%/58% 56% 44% 42%;
  display: flex;
  height: 98px;
  justify-content: center;
  position: relative;
  width: 98px;
}

.blob {
  align-items: center;
  background-image: url("../public/img/bg18.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: 2px solid #e19f17;
  border-radius: 56% 44% 45% 55%/58% 53% 47% 42%;
  display: flex;
  height: 93px;
  justify-content: center;
  width: 91px;
}

.data {
  place-items: center;
}

.img-link-app {
  width: 60px;
  height: auto;
}

.title {
  color: rgb(255, 180, 41);
  color: #fff;
  /* margin: auto; */
  /* max-width: 106px; */
  text-align: center;
  padding-top: 6px;
}

.text {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.1;
  width: 200px;
  display: block;
  text-transform: uppercase;
}

.heading-arrow {
  font-size: 24px;
  color: #ababab;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  gap: 20px;
  display: none;
}

.link-foward {
  display: flex;
  align-items: center;
  gap: 20px;
  color: #cbcbcb;
}

@media (max-width: 872px) {
  .heading-arrow {
    display: flex;
  }

  .heading {
    padding-top: 0;
  }
}

